.navbar .nav-link {
    font-size: 1.2rem; 
    font-weight: 400;
  }
  
  .navbar .navbar-brand {
    font-size: 1.5rem; 
    font-weight: 600; 
  }
  
  .navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  